.input-element {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #000000;
  border-radius: 3px;
  color: #dcddde;
  font-size: 0.9em;
  font-family: 'Exo 2', sans-serif;
  height: 40px;
  width: 373px;
  outline: none;
  padding: 0px 10px;
  transition-duration: 0.35s;

  &--error {
    border-color: #f04747;
  }
}

.input-element:focus {
  border-color: #7289DA;
}

.input-element--error:focus {
  border-color: #f04747;
}

.input-container {
  text-transform: uppercase;
  padding: 10px;
}

.label-container {
  color: #8e9297;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;

  &--error {
    color: #f04747;
  }

  .error-message {
    text-transform: none;
    font-weight: normal;
    font-style: italic;
  }
}

.mba {
  margin-bottom: 20px;
}