.channel-bar-container {
  width: 240px;
  background-color: #2f3136;
  border-radius: 5px 0px 0px 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}