.App {
  background-color: #202225;
  height: 100vh;

  &--no-auth {
    background-image: url('./assets/loggedout/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
}

.AppBody {
  color: #72767D;
  height: calc(100vh - 30px);
  // overflow-y: scroll;
  position: relative;
  min-height: 0;
  overflow-x: hidden;
  flex: 1 1 auto;
}

.AppBody::-webkit-scrollbar {
  background-color: #2F3136;
}

